/* spacing - current use in HBox*/
.standard-spacing {
  -fx-spacing: 7.5;
}

.download-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 14px;
    -fx-fill: -fx-text-base-color;
}

.tab-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 12px;
    -fx-fill: -fx-text-base-color;
}

.tab .tab-label {
    -fx-font-weight: bold;
}

